section
  width: 80vw
  margin: 0 auto 10vh auto
  min-height: 50vh

header
  min-height: 50vh
  text-align: center
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
