.image-grid
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 20px
  width: 100vw
  align-items: center
  margin-top: 80px
  margin-bottom: 80px
  +until($tablets)
    grid-template-columns: repeat(1, 1fr)
  .grid-item
    background-color: #eee
    display: inline-block
    width: 100%
    margin: 0
