.footer-block
  border-top: 1px solid var(--color-peacock)
  display: flex
  +until($tablets)
    flex-direction: column
  padding-top: 120px
  margin-top: 200px

.footer-nav
  margin: 0 0 120px
  display: flex
  flex-direction: column
  align-items: flex-start
  line-height: 2
  text-transform: lowercase
  flex-grow: 1

.support
  display: flex
  flex-direction: column
  align-items: flex-start
  flex-grow: 1
  line-height: 1.2
  font-size: 0.8rem
  small
    max-width: 40ch
  a
    margin-top: 20px
